.about {
    background-image: url('../assets/images/background/bg_about.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 155px 0;
}

.about__header h1:last-child {
    font-weight: 700;
}

.about__card {
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    padding: 35px;
    line-height: 30px;
}

.about__card {
    font-weight: 500;
    font-size: 16px;
}

.about__card .button__about {
    color: var(--main-color);
    font-style: italic;
    font-weight: 600;
}

.check-icon {
    color: green;
    font-size: 45px;
}

ul li {
    margin: 5px 0;
}

ul li p {
    font-size: 17PX;
}

@media screen and (max-width: 1400px) {
    .about__header h1 {
        font-size: 36px;
    }

    .about {
        padding: 135px 0;
    }

    ul li p {
        font-size: 14px;
    }

    .about__card {
        padding: 25px;

    }

    .about__card .button__about {
        margin-top: 35px;
    }

}

@media screen and (max-width: 1200px) {
    .about {
        padding: 110px 0;
    }

    .about__header h1 {
        font-size: 30px;
    }

    .about__card {
        padding: 20px;
        line-height: 27px;
        font-size: 16px;
    }

    .about__card .button__about {
        margin-top: 15px;
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding: 75px 0;
    }

    .about__header h1 {
        font-size: 28px;
    }

    .check-icon {
        font-size: 35px;
    }

    .about__card {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .about__header h1 {
        font-size: 24px;
    }

    ul li p {
        font-size: 13px;
    }

    .check-icon {
        font-size: 30px;
    }
}

@media screen and (max-width: 576px) {
    .about {
        padding: 35px 0;
    }

    .about__header h1 {
        font-size: 18px;
    }

    ul li p {
        font-size: 13px;
    }

    .about__card {
        padding: 15px;
        line-height: 22px;
        font-size: 13px;
        text-align: center;
    }

    .about__card .button__about {
        margin-top: 25px;
        padding: 5px 15px;
        font-size: 13px;
    }
}