.about{
    height: 75vh;
    background-image: url('../assets/images/background/bg_about.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.about__content{
    padding-top: 78px;
}

.about__header h1:last-child{
    font-weight: 700;
}

.about__card{
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.25);
    width: 358px;
    height: 383px;
    border-radius: 35px;
    padding: 35px;
    line-height: 30px;
}

.about__card{
    font-weight: 500;
    font-size: 16px;
}

.about__card .button__about{
    margin-top: 55px;
    background-color: var(--main-color);
    color: var(--background-color);
    font-style: italic;
    border-radius: 30px;
    padding: 8px 25px;
}

.check-icon{
    color: green;
    font-size: 45px;
}

ul li p{
    font-size: 15px;
}
@media screen and (max-width: 1400px){
    .about__header h1{
        font-size: 36px;
    }

    ul li p{
        font-size: 14px;
    }

    .about__card{
        width: 330px;
        height: 350px;
        padding: 25px;

    }

    .about__card .button__about{
        margin-top: 35px;
    }
    
}

@media screen and (max-width: 1200px){
    .about__header h1{
        font-size: 30px;
    }

    .about__card{
        width: 310px;
        height: 330px;
        padding: 20px;
        line-height: 27px;
        font-size: 16px;
    }

    .about__card .button__about{
        margin-top: 15px;
    }
}

@media screen and (max-width: 992px){
    .about__header h1{
        font-size: 28px;
    }

    .about__content{
        padding-top: 60px;
    }

    .check-icon{
        font-size: 35px;
    }
}

@media screen and (max-width: 768px){
    .about__header h1{
        font-size: 24px;
    }
    .about__content{
        padding-top: 55px;
    }

    ul li p{
        font-size: 13px;
    }

    .check-icon{
        font-size: 30px;
    }
}

@media screen and (max-width: 576px){
    .about__header h1{
        font-size: 18px;
    }
    ul li p{
        font-size: 13px;
    }
    .about__content{
        padding-top: 40px;
    }
    .about__card{
        width: 250px;
        height: 280px;
        padding: 15px;
        line-height: 22px;
        font-size: 13px;
    }

    .about__card .button__about{
        margin-top: 25px;
        padding: 5px 15px;
        font-size: 13px;
    }
}


