.footer{
    padding: 65px 0;
    background-image: url('../assets/images/background/bg_footer.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.footer__header h1{
    font-weight: 600;
    color: var(--background-color);
    position: relative;
    font-size: 35px;
    margin-bottom: 90px;
}

.footer__header h1::after{
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 7%;
    height: 5px;
    background-color: var(--secondary-color);
}

.footer__content h5{
    color: var(--secondary-color);
}

.footer__content ul li  {
   margin-top: 12px;
   display: flex;
   align-items: center;
   gap: 7px;
   cursor: pointer;
}

.footer__content ul li span {
    color: var(--background-color);
    font-size: 14px;
}

@media screen and (max-width: 1400px){
    .footer__header h1{
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 1200px){
    
}

@media screen and (max-width: 992px){
    .footer__header h1{
        font-size: 30px;
    }
}

@media screen and (max-width: 768px){
    .footer__header h1{
        font-size: 27px;
    }

    .footer{
        padding: 50px 0;
    }
    
}

@media screen and (max-width: 576px){
    .footer{
        padding: 45px 0;
    }

    .footer__header h1{
        margin-bottom: 55px;
    }

    .footer__content h5{
        margin-top: 15px;
    }
}