@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background-color: #f2f2f2;
    --main-color: #101010;
    --secondary-color: #eae839;
}

/*====Base Css=====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: 'Poppins', sans-serif !important;
}

body {
  background-color: var(--background-color) !important;
  color: var(--main-color);
  line-height: 1.5;
  font-size: 14px;
}

p {
  color: var(--main-color);
  margin-bottom: 0 !important;
}

ul,
li {
  list-style: none;
  padding: 0;
}

ul{
  padding: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  transition: all 0.2s ease;

}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

.container{
  height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 50px !important;
}
::-webkit-scrollbar-track {
    background: #f7f7f7;
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}
